<!DOCTYPE html>
<html>
<head>
    <title>Admin Page - Bowed Musical Instruments</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/admin.css">
</head>
<body>
<header>
    <h1>Admin Page - Bowed Musical Instruments</h1>
    <div>
        <a href="/admin/sign_up">
            <button>Sign Up a new Admin</button>
        </a>
        <a href="/">
            <button> Main page</button>
        </a>
        <a href="/logout">
            <button>Log out</button>
        </a>
    </div>
</header>
<main>
    <section>
        <h2>Add Instrument</h2>
        <form action="/admin/add_new_instrument" method="post">
            <label for="instrument_name">Instrument name:</label>
            <input type="text" id="instrument_name" name="instrument_name" required>
            <label for="chord-name">Chord name:</label>
            <input type="text" id="chord-name" name="chord_name" required>
            <label for="num_of_strings">Number of strings:</label>
            <input type="text" id="num_of_strings" name="num_of_strings" required>
            <label for="factory_name">Factory name:</label>
            <input type="text" id="factory_name" name="factory_name" required>
            <label for="factory_number">Factory number:</label>
            <input type="text" id="factory_number" name="factory_number" required>
            <button type="submit">Add</button>
        </form>
    </section>
    <section>
        <h2>Instruments</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number of strings</th>
                <th>Factory name</th>
                <th>Factory number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="InstEntity: ${instrumentList}">
                <td th:text="${InstEntity.getId}"></td>
                <td th:text="${InstEntity.getInstrument_name}"></td>
                <td th:text="${InstEntity.getNum_of_strings}"></td>
                <td th:text="${InstEntity.getFactory_name}"></td>
                <td th:text="${InstEntity.getFactory_number}"></td>
                <td>
                    <a th:href="@{/admin/edit_instrument/{id}(id=${InstEntity.getId()})}">
                        <button>✏️</button>
                    </a>
                    <a th:href="@{/admin/delete_instrument/{id}(id=${InstEntity.getId()})}">
                        <button>❌</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>