<!DOCTYPE html>
<html lang="En">
<head>
    <title>Bowed Musical Instruments</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/chord_fingerring_creation.css">
    <script src="../static/script.js"></script>
</head>
<>
<header>
    <img src="" alt="Header Image">
    <h1>Bowed Musical Instruments</h1>
    <p>Welcome to our website! Please select an instrument and a chord to listen to.</p>
    <a href="/admin"><button>Admin</button></a>
    <a href="/logout"><button>Log out</button></a>
    <a href="/"><button> Main page</button></a>
</header>
<main>


</main>
</html>
</html>>