<!DOCTYPE html>
<html lang="En">
<head>
    <title>Bowed Musical Instruments</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<>
<header>
    <img src="/img/kissing_niggers.jpg" alt="Header Image">
    <h1>Bowed Musical Gachi Instruments</h1>
    <p>Welcome to our website! Please select an instrument and a chord to listen to.</p>
    <p>
        <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
    </p>
    <a href="/admin">
        <button>Admin</button>
    </a>
    <a href="/logout">
        <button>Log out</button>
    </a>
</header>
<main>


</main>
</html>
</html>>