<!DOCTYPE html>
<html>
<head>
    <title>Edit Instrument</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body>
<div class="popup-overlay"></div>
<div class="popup">
    <h2>Edit Instrument</h2>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Instrument name</th>
            <th>Number of strings</th>
            <th>Factory name</th>
            <th>Factory number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instrument: ${instrument}">
            <form th:action="'/admin/edit_instrument/' + ${instrument.getId}" method="post">
                <td th:text="${instrument.getId}" name="id"></td>
                <td><input th:value="${instrument.getInstrument_name}" type="text" name="instrument_name"></td>
                <td><input th:value="${instrument.getNum_of_strings}" type="text" name="num_of_strings"></td>
                <td><input th:value="${instrument.getFactory_name}" type="text" name="factory_name"></td>
                <td><input th:value="${instrument.getFactory_number}" type="text" name="factory_number"></td>
                <td>
                    <button type="submit">Save Changes</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

