<!DOCTYPE html>
<html lang="En">
<head>
    <title>Bowed Musical Instruments</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/index.css">
    <script src="/static/script.js"></script>
</head>
<body>
<header>
    <h1>Admin Page - Bowed Musical Instruments</h1>
    <div>
        <a href="/admin"> <button>Admin</button></a>
        <a href="/logout"><button>Log out</button></a>
    </div>
</header>
<main>
    <p>Welcome to our website! Please select an instrument and a chord to listen to.</p>
    <section>
        <h2>Select an Instrument and Chord</h2>
        <div class="select-container">
            <label for="instrument"></label>
            <select id="instrument">
                <option th:each="InstrumentEntity: ${instrumentList}"
                        th:value="${InstrumentEntity.getInstrument_name}"
                        th:text="${InstrumentEntity.getInstrument_name}"></option>
            </select>
            <label for="chord"></label>
            <select id="chord">
                <option value="">Select a chord</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
            </select>
            <div>
                <button onclick="playSound()">Play</button>
            </div>
        </div>
        <div id="alert"></div>
    </section>
    <section>
        <h2>Photo Gallery</h2>
        <div class="gallery-container">
            <img src="/images/Violin.webp" alt="Gallery Image 1">
        </div>
    </section>
</main>
</body>
</html>
