<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body class="light-mode">
<div id="alert">Error: Incorrect username or password</div>
<h1>Sign In</h1>

<div>
    <label for="username">Username:</label>
    <input type="text" id="username">
</div>

<div>
    <label for="password">Password:</label>
    <input type="password" id="password">
</div>

<div>
    <button>Sign In</button>
</div>

<p><button onclick="toggleDarkMode()">Toggle Dark Mode</button></p>



</body>
</html>