<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <title>ADMIN | SIGN UP</title>
</head>
<body>
<div class="intro"></div>
<form action="/admin/sign_up" method="post">
    <div>
        <div>Регистрация администратора</div>
        <input type="text" placeholder="Введите никнейм" name="username">
        <input type="password" placeholder="Введиете пароль" name="password">
        <input type="submit" class="link-btn" value="Зарегистрировать">
    </div>
</form>
<table>
    <thead>
    <tr style="border-bottom:1px solid black">
        <th>Id</th>
        <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr style="border-bottom:1px solid black" th:each="AdminEntity: ${adminList}">
        <td th:text="${AdminEntity.getId}"></td>
        <td th:text="${AdminEntity.getUsername}"></td>
        <td><a th:href="@{/admin/delete_admin/{id}(id=${AdminEntity.getId()})}">&Chi;</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
