<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
   <title>ADMIN | SIGN UP</title>
</head>
    <body>
        <div class="intro"></div>
            <form action="/admin/sign_up" id="modalWin" class="modal" method="post">
                <div class="modal-window">
                    <a class="close2" href="/admin">&#10006;</a>
                    <div class="main_title form">Регистрация администратора</div>
                    <input type="text" placeholder="Введите никнейм" name="username">
                    <input  type="password" placeholder="Введиете пароль" name="password">
                    <input type="submit" class="link-btn" value="Зарегистрировать">
                </div>
                <div  class="over" ></div>
            </form>
    </body>

</html>
