<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="/static/styles/sign_in.css">
</head>
<body>
<header>
    <h1>Sign In</h1>
    <a href="/">
        <button> Main page</button>
    </a>
</header>
<main>
    <form action="/sign_in" method="post">
        <div>
            <label>Username:
                <input type="text" name="username">
            </label>
            <label>Password:
                <input type="password" name="password">
            </label>
            <button type="submit">Вход</button>
        </div>
    </form>
</main>
</body>
</html>