<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../static/styles/sign_in.css">
    <script src="../static/script.js"></script>
</head>
<body>
<div id="alert">Error: Incorrect username or password</div>
<h1>Sign In</h1>
<form action="/sign_in" method="post">
    <div>
        <label>Username:
            <input type="text" name="username">
        </label>
        <label>Password:
            <input type="password" name="password">
        </label>
        <button type="submit">Вход</button>
    </div>
</form>

<p>
    <button onclick="toggleDarkMode()">Toggle Dark Mode</button>
</p>

</body>
</html>